h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color: #434455;
  background-color: #ffffff;
  max-width: 1440px;
  margin: 0 auto;
}

/* Header line */
.header-line {
  border-bottom: 1px solid #e7e9fc;
  position: sticky;
  top: 0;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background-color: #fff;
  z-index: 999;
}

.header-line-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* General field */
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-nav {
  display: flex;
  align-items: center;
  padding: 24px 0;
}

.nav-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.logo-studio-h {
  color: #2e2f42;
}

.nav-menu {
  display: flex;
  gap: 40px;
}

.nav-menu-item {
  display: flex;
  flex-direction: column;
}

.nav-menu-item-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  /* color: #404bbf; */
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu-item-text:hover,
.nav-menu-item-text:focus {
  color: #404bbf;
}

.nav-menu-item-text::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
}

.contacts {
  font-style: normal;
}

.contacts-list {
  display: flex;
  gap: 40px;
}

.contact-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-item:focus,
.contact-item:hover {
  color: #404bbf;
}

/* Main content */
/* Main section */
.welcome-page-wrap {
  background-color: #2e2f42;
  height: 600px;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/wpbg.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  max-width: 1440px;
}

.welcome-page-wrap .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin-bottom: 48px;
}
.welcome-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  display: block;
  min-width: 169px;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.welcome-button:hover,
.welcome-button:focus {
  background-color: #404bbf;
}

/* Section 1 (Features) */
.features {
  padding: 120px 0;
}

/* General section titles */
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

/* Hidden (Features section) title */
.section-title.hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  display: flex;
  gap: 24px;
}
.features-list-item {
  width: calc((100% - 72px) / 4);
  display: flex;
  flex-direction: column;
}

.features-list .features-icon-box {
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  padding: 24px 0;
  margin-bottom: 8px;
}

.features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.features-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Section 2 (Our Team) */
.our-team-wrap {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.our-team {
  display: flex;
  gap: 24px;
}
.our-team-card {
  background-color: #fff;
  width: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-member-profile {
  padding: 32px 0;
}

.team-member-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.team-member-pos {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  margin-bottom: 8px;
}

.socials-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.socials-list-item {
  width: 40px;
  height: 40px;
}

.socials-list-item-link {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-list-item-link:hover,
.socials-list-item-link:focus {
  background-color: #404bbf;
}

.socials-icon {
  fill: #f4f4fd;
}

/* Section 3 (Our Portfolio ) */
.our-portfolio-wrap {
  padding: 120px 0;
}

.our-portfolio {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  background: #fff;
  width: calc((100% - 48px) / 3);
  border-bottom: 1px solid #e7e9fc;
  cursor: pointer;
  box-shadow: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-overlay-box {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  position: absolute;
  top: 0;
  padding: 40px 32px;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover .portfolio-overlay-text {
  transform: translateY(0%);
}

.portfolio-item-descr {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Footer */
.footer-wrap {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-descr {
  max-width: 264px;
  margin-right: 120px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}
.logo-studio-f {
  color: #f4f4fd;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-wrap .container {
  display: flex;
  align-items: baseline;
}

.footer-header-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-socials {
  margin-right: 80px;
}

.f-socials-list {
  display: flex;
  gap: 16px;
}
.f-socials-list-item {
  width: 40px;
  height: 40px;
}
.f-socials-list-item-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.f-socials-list-item-link:hover,
.f-socials-list-item-link:focus {
  background-color: #31d0aa;
}

.f-socials-icon {
  fill: #f4f4fd;
}

.f-subscribe-field {
  /* background-color: #b0acac; */
  width: 100%;
  height: 40px;
}

.f-form input {
  padding: 8px 16px;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  background-color: transparent;
}
.f-form input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}

.f-form {
  display: flex;
  gap: 24px;
}

.subs-button {
  cursor: pointer;
  border-radius: 4px;
  padding: 8px 24px;
  background: #4d5ae5;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  box-shadow: inset 0 0 12px 0 rgba(0, 0, 0, 0.05);
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subs-button:hover,
.subs-button:focus {
  background-color: #404bbf;
}

.send-icon {
  fill: #fff;
}

/* my border */
/* border: 2px dashed #fb0000; */
/* my border */
